<div class="container-fluid">
    <div class="star-row row" *ngFor="let topic of ratingTopics">
        <div class="col-sm-4">
            <h2>{{topic}}</h2>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-2 star{{i}}" *ngFor="let i of [1,2,3,4,5]" (click)="onSelectStar($event)">
                    <mat-icon>star_border</mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <h2>Kommentar</h2>
    </div>
    <div class="col-sm-8">
        <textarea></textarea>
    </div>
</div>
