@import '../../styles.scss';

.header {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px grey;
    height: $header-height;
    font-weight: bold;
    position: relative;
    z-index: 4;

    .header-title {
        width: 100%;
        margin: -40px;
        text-align: center
    }

    .menu-btn {
        mat-icon {
            font-size: 30px;
            width: 30px;
            height: 25px;
        }
    }
}
