<app-maplibre-gl></app-maplibre-gl>

<app-tool-overlay *ngIf="showToolOverlay"
                    [overlayHeight]="toolOverlayHeight"
                    [overlayMinHeight]="toolOverlayMinHeight"
                    (overlayResized)="onResizeToolOverlay($event);"
                    (overlayClosed)="onCloseToolOverlay();">
</app-tool-overlay>

<div class="toolbar" *ngIf="!showToolOverlay">
    <div class="toolbar-btn" *ngFor="let tool of tools">
        <button class="tool-button" mat-fab (click)="onToolbarButtonClick(tool)">
            <mat-icon class="accent">{{tool.icon}}</mat-icon>
        </button>
    </div>
</div>

