.map {
    width: 100%;
    height: 100%;
}

.mapboxgl-ctrl-group > button {
    width: 40px;
    height: 40px;

    .material-icons {
        font-size: 24px;
    }
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass > .mapboxgl-ctrl-compass-arrow {
    width: 24px;
    height: 24px;
}

.info-popup {
    max-height: 400px;

    .mapboxgl-popup-content {
        overflow: auto;
        padding-top: 30px;

        .mapboxgl-popup-close-button {
            font-size: 40px;
            position: fixed;
            margin: 10px 20px 0;
            background-color: #FFF;
            padding: 0;
        }

        .info-table {
            font-size: 15px;
            border-bottom: 1px solid grey;
            padding: 10px 0;
        }
    }
}

.searchInput {
    height: 50px;
    border: none;
    margin: 0; padding: 6px;
    font-size: 18px;

    &.hidden {
        display: none;
    }

    &:focus {
        outline: none;
    }
}

.resultArea {
    background-color: #FFF;
    width: 100%;

    &.hidden {
        display: none;
    }

    .result-row {
        height: 50px;
        font-size: 16px;
        max-width: 80vw;
        border-top: 1px solid lightgrey;
        padding: 5px 5px;

        &:hover {
            background-color: #e9efff;
        }

        .result-row-main {
            font-weight: bold;
        }
    }
}

.zoom-control {
    margin: 10px 5px;
    opacity: 0.8;
    font-size: 20px;
    text-align: right;

    @media (max-width: 576px) {
        display: none;
    }

    span {
        background-color: white;
        padding: 5px;
    }
}

.mapboxgl-ctrl-scale {
    @media (max-width: 576px) {
        display: none;
    }
}
