<div class="container-fluid function-wrapper">
   <div class="row" *ngIf="mapFunctions.navigation.show">
        <div class="col-8">Steuerungselemente</div>
        <div class="col-4 col-toggle">
            <mat-slide-toggle color="primary" [checked]="mapFunctions.navigation.enabled" (change)="onFunctionToggle('navigation', $event)"></mat-slide-toggle>
        </div>
    </div>

    <div class="row" *ngIf="mapFunctions.info.show">
        <div class="col-8">Info-Abfrage</div>
        <div class="col-4 col-toggle">
            <mat-slide-toggle color="primary" [checked]="mapFunctions.info.enabled" (change)="onFunctionToggle('info', $event)"></mat-slide-toggle>
        </div>
    </div>

    <div class="row" *ngIf="mapFunctions.search.show">
        <div class="col-8">Suche</div>
        <div class="col-4 col-toggle">
            <mat-slide-toggle color="primary" [checked]="mapFunctions.search.enabled" (change)="onFunctionToggle('search', $event)"></mat-slide-toggle>
        </div>
    </div>
</div>
