app-gui-layer-configuration {
    .mat-expansion-panel-header {
        font-size: 22px;
    }

    .gui-layer-config {
        .gui-layer-header {
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .gui-layer-name {
            font-size: 24px;
        }
    }
}
