<span #colorbtn class="color-btn" [ngStyle]="{'background-color':color}" (click)="showColorPicker=!showColorPicker"></span>
<span #colorpicker class="color-input"
        [(colorPicker)]="color"
        [style.background]="color"
        [cpFallbackColor]="'#000000'"
        [cpAlphaChannel]="'forced'"
        [cpOutputFormat]="'rgba'"
        [cpUseRootViewContainer]="true"
        [cpOKButton]="true"
        [cpCancelButton]="false"
        [(cpToggle)]="showColorPicker"
        [cpIgnoredElements]="[colorpicker,colorbtn]"
        [cpCloseClickOutside]="true"
        [cpSaveClickOutside]="false"
        (colorPickerChange)="onColorChanged($event)"></span>
<label class="element-label">{{elementName}}</label>
