<ng-container *ngIf="!showGroupConfiguration && !showGuiLayerConfiguration">
    <app-layer-configuration *ngFor="let layer of activeStyling.layers" [layer]="layer"></app-layer-configuration>
</ng-container>
<ng-container *ngIf="showGroupConfiguration && !showGuiLayerConfiguration">
        <app-group-configuration (toggleGroupConfiguration)="toggleGroupConfiguration($event)" [hasGuiLayers]="hasGuiLayers"></app-group-configuration>
</ng-container>
<ng-container *ngIf="showGuiLayerConfiguration">
        <app-gui-layer-configuration></app-gui-layer-configuration>
</ng-container>

